addStudentform{
     border-radius: 2px black solid;
}

body{
     background-color: rgb(224, 220, 220);
}

button {
    text-decoration: none;
  }

  
      
  .add-stu-btn{
       /* display: flex;
       align-self: flex-end;
       margin-right: auto; */
       border-radius: 20px;
       padding: 10px;
       color: white;
       font-size: 20px;
       background-color: blue;
       border: 0 solid white;
       clear: both;
       

  }

  .add-stu-btn:hover{
       background-color: black;
       color: white;
       font-size: 20px;
       clear: both;
  }

  

  .st-btn{
       display: flex;
      flex-direction: row;
      justify-content: space-around;
      clear: both;
      
    
      
       
     
  }
/* 
   .st-btn {
       display: flex;
       justify-content: right;
       float: right;
  } */

  .display{
       display: flex;
       
       margin: 10px;
  }