

/* .title{
  border: 5px solid green;
  border: 1px solid red;
} */

.navLinks ul{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;

   /* padding: 10px; */
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-between;
  clear: both;
 margin-top: 0;
 background-color:#343a40!important;
  top: 0;
  left: 0;
  width: 100%;
  font-size: larger;
  z-index: 10;
  overflow: hidden;
  float: right;
  
  border: solid 1px black;
  color: black;
 
}


li{
  list-style-type:none;
}
  

.lin2 .link3{
 float: right;
 clear: right;
 
}

.link1, .link2,.link3{
   font-size: 30px;
   /* padding: 1rem; */
   text-align: center;
   padding: 5px;
   padding-top: 25px;
   padding-bottom: 25px;
   clear: right;
   color: white;

}


nav a:hover{
 
  padding: 55px;
  color:#be3144
  
 }
 span{
   font-size: 3rem;
 }

 .container{
 
  
   align-items: center;
   border: 1px solid black;
   margin: auto;

 }
